/* Univarsal css */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* global css variables */
:root {
    --background:#26a0da;
    --background-2:#1E1E2F;
    --background-3:#314755;
}


/* global css */
.btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
.btn-grad {
   margin: 10px;
   padding: 5px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #0005;
   border-radius: 10px;
   display: block;
   border: 0;
   font-size: 500;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 h1,h2,h3,h4,h5,h6 {}

 body {
  font-family: "Roboto", sans-serif;
 }
 

 /* header section */
header {
  width: 100%;
  background-color: var(--background-2);
  color: #fff !important;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#header.sticky {
  box-shadow: px 2px 15px solid #0005;
}

/* main content section */
.main-content-section {
  width: 100%;
}

/* aside section */
.aside {
  background-color: var(--background-2);
  color: #fff;
  min-height: 90vh;

}

.aside .aside-menu {
  border-bottom: 1px solid #fff;
}

.aside .aside-menu:last-child {
  border: 0;
}

/* content section */
.content {
  padding: 1rem;
}

/* dashboard */
.dashboard-content:nth-child(even) {
  background-color: var(--background);
  cursor: pointer;
  color: #ffff;
}

.dashboard-content:nth-child(odd) {
  background-color: var(--background-3);
  cursor: pointer;
  color: #ffff;
}